.App {
  font-family: sans-serif;
  text-align: center;
}

.map {
  margin: auto;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /*grid-template-rows: repeat(3,1fr);*/
  grid-gap: 30px;
}

.map > div {
  border: 1px solid #999;
  text-align: center;
  /*background: #000;*/
  cursor: pointer;
  height: 70px;
  width: 70px;
  border-radius: 35px;
}

.map > div span {
  transition: visibility 1s;
  line-height: 70px;
  font-size: 30px;
  /* font-weight: bold; */
}

.map > div:not(.active) span {
  /*display: none;*/
  /*color: #fff;*/
  visibility: hidden;
  /*cursor: pointer;*/
}

/*	.map > div span.active {
  visibility: visible!important;
}*/

.map > div:hover {
  background: #ccc;
}
